<div class="content">
    <div class="block">
        <h1 class="has-text-left has-text-centered-mobile">About me</h1>
    </div>
    <hr>
    <div class="block has-text-centered has-text-centered-mobile">
        <p>[ Under construction ]</p>
    </div>
<!--    
    <div class="box">
        <p class="has-text-weight-light is-size-7">
            <i>Disclaimer: All content on this website, including all code examples, is created and written by me.
                <u>No AI tools were used in the creation of any content on this site</u>.
            </i>
        </p>
        <br>
        <p>Hi and thanks for stopping by!</p>
        <br>
        <p>My name's Julien, I'm an experienced spam and online abuse fighter with 15 years of experience working in the tech and finance industries</p>
        <p>I'm passionate about <strong>programming languages</strong>, <strong>data science</strong>, <strong>computational linguistics</strong>, and <strong>cybersecurity</strong>.</p>
        <p>Nowadays I mostly work with the following languages:</p>
        <div class="box has-text-left has-text-centered-mobile">
            <tag class="button is-danger">Python</tag>
            <tag class="button is-danger">JavaScript</tag>
            <tag class="button is-danger">TypeScript</tag>
            <tag class="button is-danger">SQL</tag>
        </div>
        <p>But in a former life used to craft things with those:</p>
        <div class="box has-text-left has-text-centered-mobile">
            <tag class="button"><s>PHP</s></tag>
            <tag class="button"><s>Perl</s></tag>
            <tag class="button"><s>C</s></tag>
        </div>
    </div>
</div>
<div class="content">
    <div class="block">
        <h1 class="has-text-left has-text-centered-mobile">About this website</h1>
    </div>
    <hr>
    <div class="box">
        <p><strong class="has-text-danger">blanchardjulien.com</strong> was built using <strong>Loulou</strong>, my own <i>static site generator</i> whose source code you can find <a class="has-text-danger" href="https://github.com/julien-blanchard/Loulou" target="_blank">here</a>.</p>
        <p><strong>Loulou</strong> relies on the following projects:</p>
        <ul>
            <li><a class="has-text-danger" href="https://bulma.io/" target="_blank">Bulma</a>&ensp;<small>(css framework)</small></li>
            <li><a class="has-text-danger" href="https://jenil.github.io/bulmaswatch/" target="_blank">Bulmaswatch</a>&ensp;<small>(css template)</small></li>
            <li><a class="has-text-danger" href="https://fontawesome.com/" target="_blank">Fontawesome</a>&ensp;<small>(icons)</small></li>
            <li><a class="has-text-danger" href="https://highlightjs.org/" target="_blank">Highlight.js</a>&ensp;<small>(code snippets)</small></li>
            <li><a class="has-text-danger" href="https://counter.dev/" target="_blank">Counter.dev</a>&ensp;<small>(privacy-friendly analytics)</small></li>
            <li><a class="has-text-danger" href="https://umami.is/" target="_blank">Umami</a>&ensp;<small>(privacy-friendly analytics)</small></li>
        </ul>
        <p>The font used is <a class="has-text-danger" href="https://fonts.google.com/" target="_blank"><strong>Google</strong>'s <i>Space Mono</i></a>.</p>
    </div>
-->
</div>
