<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{placeholder_css}}
{{placeholder_js}}
    <title>{{placeholder_title}}</title>
</head>
<body>
    <div class="container">
        <section class="section">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-menu is-active">
                    <div class="navbar-start">
                        <a class="navbar-item" style="text-transform: uppercase;">
                            <strong>{{placeholder_title}}</strong>
                        </a>
                    </div>
                    <div class="navbar-end">
                        <a class="navbar-item" href="{{placeholder_url}}/"><strong>Home</strong></a>
                        <a class="navbar-item" href="{{placeholder_url}}/pages/posts.html"><strong>Articles</strong></a>
                        <a class="navbar-item" href="{{placeholder_url}}/pages/about.html"><strong>About</strong></a>
                        <a class="navbar-item" href="{{placeholder_url}}/pages/extras.html"><strong>Extras</strong></a>
                    </div>
                </div>
            </nav>
            <br>
            <div class="columns">
                <div class="column is-one-third has-text-centered has-text-centered-mobile">
                    <div>
                        <figure class="image is-128x128 is-inline-block">
                            <img class="is-rounded" src="{{placeholder_url}}/images/{{placeholder_picture}}" />
                        </figure>
                    </div>
                    <br>
                    <br>
                    <div class="block">
                        <h1 class="title is-3">{{placeholder_author}}</h1>
                    </div>
                    <br>
                    <div class="block">
                        <h2 class="subtitle"><i>{{placeholder_subtitle}}</i></h2>
                    </div>
                    <br>
                    <div>
                        <span class="clickable-content" id="github-link"><i class="fab fa-github fa-2xl"></i>&ensp;GitHub</span>
                    </div>
                    <br>
                    <div>
                        <span class="clickable-content" id="linkedin-link"><i class="fab fa-linkedin fa-2xl"></i>&ensp;Linkedin</span>
                    </div>
                    <br>
                </div>
                <div class="column is-two-thirds">
                    {{placeholder_content}}
                </div>
            </div>


            <hr>
            <div class="box">
                <div class="content has-text-centered">
                    <strong>&copy; {{placeholder_footer}}</strong>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
